* {
	box-sizing: border-box;
}

body {
	font-family: 'Rancho', cursive;
}

@font-face {
    font-family: 'beyond_the_mountainsregular';
    src: url('../webfonts/beyond_the_mountains-webfont.woff2') format('woff2'),
         url('../webfonts/beyond_the_mountains-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

li {
	list-style-type: none;
}

ul {
	padding: 0;
	margin: 0;
}

.primary-col {
	color: #ef0031
}

.background-primary {
	background-color: #ef0031
}

.background-gradient {
	background: #ef0031;  
    background: -webkit-linear-gradient(45deg, #400000 0%, #ef0031 60%, #ffca05 100%);
    background: -o-linear-gradient(45deg, #400000 0%, #ef0031 60%, #ffca05 100%);
    background: -moz-linear-gradient(45deg, #400000) 0%, #ef0031 60%, #ffca05 100%);
    background: linear-gradient(45deg, #400000 0%, #ef0031 60%, #ffca05 100%);
}

.back-grad-reverse {
	background: #ef0031;  
    background: -webkit-linear-gradient(45deg, #ffca05 0%, #ef0031 35%, #400000 100%);
    background: -o-linear-gradient(45deg, #ffca05 0%, #ef0031 35%, #400000 100%);
    background: -moz-linear-gradient(45deg, #ffca05) 0%, #ef0031 35%, #400000 100%);
    background: linear-gradient(45deg, #ffca05 0%, #ef0031 35%, #400000 100%);
}

/*/////// Loading Screen Start/////*/

.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.load-scr-contain {
	font-size: 1.5em;
	margin: auto;
	text-align: center;
}

.spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
}

.spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
  animation: lds-dual-ring 1.2s linear infinite
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*/////// Loading Screen End/////*/

.scroll-top {
    width:50px; 
    height:55px;
    padding:10px; 
    text-align:center; 
    color: #444;
    text-decoration: none;
    opacity: 0.7;
    position:fixed;
    bottom:50px;
    right:40px;
    display: none;
	z-index: 30;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.scroll-top i {
	font-size: 2.2em;
	color: #fff;
	border-radius: 5px;
	padding: 12px 6px;
}

/*/////// Header Start //////*/

header {
	position: relative;
	top: 0;
	left: 0;	
	width: 100%;
	height: 120px;
	z-index: 1;
	background-color: rgba(0,0,0,.6);
}

header:after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 0;
    right: 0;
	height: 10px;
	background: url(../images/triangle.png) repeat-x;
    background-size: 26px 10px;
	opacity: .6;
    
}

.logo img {
	width: 160px;
}

.bg-dark {
 	background-color: transparent !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	font-size: 1.2em;
	letter-spacing: 1px;
	margin-left: 10px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #ef0031
}

.nav-toggler {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.burger-menu {
	display: inline-block;
	height: 2px;
	width: 30px;
	position: absolute;
	top: 50%;
	left: 4px;
	background-color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.burger-menu:before,
.burger-menu:after {
	content:'';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.burger-menu:before {
	top: -10px;
}
.burger-menu:after {
	top: 10px;
}

.nav-toggler.change .burger-menu {
	background-color: transparent;
}

.nav-toggler.change .burger-menu:before {
	top: 0;
	-webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg);        
	transform: rotate(45deg);
}

.nav-toggler.change .burger-menu:after {
	top: 0;
	-webkit-transform: rotate(135deg); 
    -ms-transform: rotate(135deg);          
	transform: rotate(135deg);
}

.phone-num {
	color: #fff;
	letter-spacing: 1px;
	padding: 15px 25px;
	font-size: 1.1em;
	z-index: 50;
}

.phone-num span:first-child {
	margin-right: 10px;
}

/*/////// Header End //////*/

/*/////// Hero Section start //////*/

.hero-section {
	position: relative;
	margin-top: -120px;
	width: 100%;
	height: 900px;
	background: url(../images/header.jpg) no-repeat center;
	background-size: cover;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.hero-section:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
	height: 10px;
	background: url(../images/triangle-2.png) repeat-x;
    background-size: 26px 10px;
    z-index: 1;
}

.hero-section:after {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
}

.hero-caption {
	z-index: 1;
	text-align: center;
}

.hero-caption h1 {
	font-family: 'beyond_the_mountainsregular', sans-serif;
	font-size: 6em;
	color: #fff;
	letter-spacing: 3px;
	margin: 0;
}

.hero-caption h2 {
	font-size: 3em;
	color: #fff;
	margin-bottom: 20px;
}

.caption-button a {
	position: relative;
	display: inline-block;
	font-size: 2.2em;
	letter-spacing: 1px;
	color: #fff;
	background-color: #ef0031;
	padding: 15px 25px;
	text-transform: uppercase;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	text-decoration: none;
	overflow: hidden;
	-webkit-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	z-index: 0;
}

.caption-button a:hover {
	color: #000;
}

.caption-button a:before {
	content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
    z-index: -1; 
    -webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.caption-button a:hover:before {
	height: 100%;
}

.caption-button a:after {
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #ffca05;
    z-index: -2;
    -webkit-transition: all 0.2s 0.1s ease-in;
	-o-transition: all 0.2s 0.1s ease-in;
	transition: all 0.2s 0.1s ease-in;
}

.caption-button a:hover:after {
	height: 100%;
}

/*/////// Hero Section End //////*/

/*/////// About start //////*/

.about {
	padding: 60px 0 80px;
	text-align: center;
	position: relative;
}

.about:after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 0;
    right: 0;
	height: 10px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	background: url(../images/triangle-2.png) repeat-x;
    background-size: 26px 10px;
    z-index: 5;
}

.about .image1,
.about .image2 {
	position: absolute;
	width: 20% !important;
	height: 300px;
}

.about .image1 {
    top: 80px;
	left: 0;
	background: url(../images/about1.png) no-repeat;
	background-size: cover;
	z-index: -1;
}

.about .image2 {
	top: 50px;
	right: 0;
	background: url(../images/about2.png) no-repeat;
	background-size: cover;
	z-index: -1;
}

.section-img {
	width: 90px;
}

.about-content h2 {
	font-family: 'beyond_the_mountainsregular', sans-serif;
	margin-top: 10px;
	margin-bottom: 35px;
	font-size: 2.5em;
}

.about-content p {
	width: 50%;
	line-height: 1.8;
	margin: 0 auto;
	font-size: 1.5em;
}

/*/////// About End //////*/

/*/////// Best Seller start //////*/

.best-seller {
	min-height: 900px;
    overflow: hidden;
	background: url(../images/seller.jpg) no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
	padding: 80px 0 60px;
	z-index: 1;
}

.best-seller:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
	height: 10px;
	background: url(../images/triangle-2.png) repeat-x;
    background-size: 26px 10px;
    
}

.best-seller:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.85);
	z-index: -1;
}

.best-seller h2 {
	color: #fff;
	font-family: 'beyond_the_mountainsregular', sans-serif;
	margin-top: 10px;
	margin-bottom: 35px;
	font-size: 2.5em;
}

.best-seller .card {
	background: transparent;
	margin-bottom: 30px;
	padding-bottom: 0;
	color: #fff;
	z-index: 2;
}

.best-seller .card img {
	width: 100%;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.best-seller .card h4 {
	font-family: 'Rancho', cursive;
	font-size: 1.8em;
	margin-top: -10px;
}

.best-seller .card span {
	display: inline-block;
	font-size: 1.2em;
	padding: 7px 12px;
	margin-top: 15px;
	color: #ef0031;
	background-color: #fff
}

/*/////// Best Seller End //////*/

/*/////// Testimonials start //////*/

.testimonials {
   padding: 60px 0 20px;
   text-align: center;
   position: relative;
}

.testm-content {
   margin-bottom: 30px !important; 
}

.testimenials-title {
	margin-bottom: 50px;
}

.testimenials-title h2 {
	font-family: 'beyond_the_mountainsregular', sans-serif;
	font-size: 2.5em;	
}

.testimonials .testm-header {
	color: #000;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.testimonials .testm-body {
	color: #767676;
	font-size: 1.3em;
}

.testimonials .testm-body i {
	position: relative;
	font-size: .6em;
	color: #ef0031;
	opacity: .85
}

.testimonials .testm-body i:first-child {
	top: -8px;
}

/*/////// Testimonials End //////*/

/*/////// Our Menu Start //////*/

#our-menu {
	height: 600px;
	background: url(../images/menu.jpg) no-repeat center;
}

.menu {
	padding: 50px 0;
}

.menu-title {
	margin-bottom: 40px;
	text-align: center;
}

.menu-title h2 {
	font-family: 'beyond_the_mountainsregular', sans-serif;
	font-size: 2.5em;	
}

.menu-prices nav {
   width: 95%;
   margin: 0 auto;
}

.menu-prices nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
}

.menu-prices nav ul li {
	display: inline-block;
	font-size: 1.2em;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 7px 12px;
	margin-right: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.menu-prices nav ul li:last-child {
	font-weight: 600;
	color: #ef0031
}

.menu-prices nav ul li:hover {
	background-color: #ef0031;
	color: #fff
}

.menu-prices nav ul li.active {
	background-color: #ef0031;
	color: #fff
}

.prices-details {
	width: 90%;
	margin: 0 auto;
	border-top: 3px solid #ef0031;
	padding-top: 30px;
}

.prices-details .info span {
	font-size: 2em;
}

/*Card styles*/

.prices-details .card-container {	
	margin-bottom: 20px;
}

.prices-details article {
	display: none;
}

.prices-details article.show {
	display: block;
}

.prices-details .card {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

/*Animation on scroll start*/
.row .card-container {
	opacity: 0;
	-webkit-transform: translateY(80px);
	-ms-transform: translateY(80px);
	transform: translateY(80px);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.row .card-container:nth-child(2),
.row .card-container:nth-child(5),
.row .card-container:nth-child(8),
.row .card-container:nth-child(11),
.row .card-container:nth-child(14) {
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.row .card-container:nth-child(3),
.row .card-container:nth-child(6),
.row .card-container:nth-child(9),
.row .card-container:nth-child(12),
.row .card-container:nth-child(15) {
	-webkit-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.slideIn-Up {
	opacity: 1 !important;
	transform: none !important;
}
/*Animation on scroll end*/

.row.flex-wrap .card {
    height: 100%;
}

.prices-details .card .card-header {
	padding: 0;
	position: relative;
}

.prices-details .card img {
	width: 100%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;;
}

.card:hover img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.prices-details .card .prices {
	position: absolute;
	bottom: -20px;
	right: 5px;
}

.prices-details .card span {
	font-size: 1.1em;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    line-height: 2.5;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.prices-details .card .card-body {
	padding-bottom: 10px;
}

.prices-details .card h5 {
	font-size: 1.7em;
	color: #ef0031
}

.prices-details .card p {
	font-size: 1.5em;
	line-height: 1.2;
	color: #000
}

.prices-details h3 {
	font-size: 2em;
	padding: 20px 0;
	margin-left: 20px;
	text-align: center;
}

/*//figure styles//*/

.figure-container figure {
	width: 100%;
	overflow: hidden;
	color: #fff;
	position: relative;
}

.figure-container figure:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.2);
	z-index: 1;
}

.figure-container figure img {
	width: 100%;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.figure-container figure:hover img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.figure-container figure figcaption {
	position: absolute;
	bottom: 30px;
	left: 20px;
	z-index: 5;
}

.figure-container figure figcaption h5 {
	font-size: 2em;
	text-transform: uppercase;
}

.figure-container figure figcaption span {
	display: inline-block;
	font-size: 1.3em;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #ffc107;
	color: #000;
    line-height: 2.6;
    padding-left: 10px;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.figure-container figure figcaption p {
	font-size: 1.7em;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
}

.drinks .media {
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.drinks .media img {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.drinks .media:hover img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.drinks h5 {
	font-size: 1.4em;
	color: #ef0031;
}

.drinks span {
	font-size: 1.2em;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	line-height: 1.8;
}

/*/////// Our Menu End //////*/

/*/////// Services Start //////*/

#our-services {
	height: 600px;
	background: url(../images/services5.jpg) no-repeat;
	background-size: cover;
}

.services .odd {
	order: 1;
	margin-left: -120px;
}

.services .even {
	margin-right: -120px;
}

.services-container .servises-details {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	padding: 50px 0;
}

.services-container .serv-det-img {
	width: 35%;	
}

.services-container .serv-det-img img {
	width: 100%;
}

.services-container .serv-det-info {
	width: 35%;
	margin-top: 10%;
	
}

.services-container .serv-det-info h5 {
	display: inline-block;
	font-size: 2em;
	color: #ef0031;
	padding-bottom: 10px;
	position: relative;
}

.services-container .serv-det-info h5:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	background-color: #ffca05;
}

.services-container .serv-det-info p {
	font-size: 1.5em;
	line-height: 1.3;
	margin-top: 5px;
}

/*/////// Services End //////*/

/*/////// Footer Start //////*/

footer {
	background: url(../images/footer.jpg) no-repeat;
	background-size: cover;
	min-height: 100px;
	overflow: hidden;
	text-align: center;
	padding: 60px 0 30px;
	position: relative;
    z-index: 1;
}

footer:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
    right: 0;
	height: 10px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	background: url(../images/triangle-2.png) repeat-x;
    background-size: 26px 10px;
    z-index: 2;
}

footer:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: -1;
}

.footer-content {
    color: #fff
}

.footer-logo img {
	width: 220px;
}

.foot-title {
	color: #ffca05;
	text-decoration: underline;
	font-size: 1.7em;
	display: block;
	margin-bottom: 10px;
}

.footer-content .foot-cont-det,
.footer-content .rights {
	font-size: 1.4em;
}

.footer-content .phone span:nth-child(2) {
	margin-right: 10px;
}

.footer-content .social-media i {
	font-size: 2.5em;
	color: #3b5998;
}

.fa-whatsapp {
	background-color: #25D366;
	border-radius: 50%;
}

.fa-instagram {
	font-size: 1.5em;
	color: transparent;
	background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background-image: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background-clip: text;
	-webkit-background-clip: text;
}

.inst a {
	color: #fff;
	text-decoration: none;
}

/*/////// Footer End //////*/

/*/////// Media Queries /////////*/

@media only screen and (max-width: 675px) {

	header {
		flex-wrap: wrap;
		height: 200px;
	}

	.hero-section {
		margin-top: -200px;
	}

	.logo {
		width: 280px;
	}

	.phone-num {
		letter-spacing: normal;
	}

	.hero-caption h1 {
		font-size: 3.2em !important;
	}

	.hero-caption h2 {
		font-size: 2em;
	}

	.about {
		padding: 60px 0;	
    }

    .about-content p {
    	width: 90% !important;
    }

    .best-seller .card .card-header {
    	padding: 0;
    }

    .best-seller .card img {
	    width: 70%;
    }

    .testm-container .testm-content {
    	width: 90% !important;
    }

    .testimonials .testm-body {
    	font-size: 1.5em;
    }

    .menu-prices nav ul {
    	width: 90%;
    }

    .menu-prices nav ul li {
    	font-size: 1.1em;
    	flex-wrap: nowrap;
    }

    .prices-details .card .card-body {
    	font-size: 1.2em;
    }

    .figure-container figure figcaption h5,
	.figure-container figure figcaption p {
		font-size: 2em !important;
	}

	.services-container .servises-details {
		display: block;
	}

	.services-container .serv-det-img,
	.services-container .serv-det-info {
	    width: 80%;
	    margin: 20px auto;
    }


    .services-container .serv-det-info {
    	margin-top: 0px !important;
    }

    .services-container .servises-details:nth-child(2) .serv-det-info {
    	left: 0;
    }

    .services-container .serv-det-info h5 {
    	font-size: 2.1em;
    }

    .services-container .serv-det-info p {
    	font-size: 1.6em;
    }


}

@media only screen and (max-width: 992px) {

	.collapse {
		position: absolute;
		top: 130px;
		left: 0;
        width: 100%;
		background-color: #fff;
		text-align: center;
		z-index: 5;
	}

	.collapse .nav-link {
		color: #ef0031;
		font-weight: 700 !important;
		font-size: 1.5em;
		border-bottom: 1px solid #e6e6e6;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	.collapse .nav-link:hover {
		color: #fff;
		background-color: #ef0031;
	}

	.hero-caption h1 {
		font-size: 5em;
	}

	.about-content p {
    	width: 70%;
    }

    .testm-container .testm-content {
    	margin: 0 auto;
    	width: 70%;
    }

    .menu-prices nav ul {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.figure-container figure figcaption h5,
	.figure-container figure figcaption p {
		font-size: 2.2em;
	}

	.services-container .serv-det-info {
    	margin-top: 30px;
    }

}

@media only screen and (min-width: 992px) {
	.nav-toggler {
		display: none;
	}

	.about {
	   padding: 80px 0 100px;   
    }

    .testimonials .testm-container {
    	display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	display: -o-flex;
    	display: flex;
    	justify-content: space-around;
    }

    .testm-container .testm-content {
    	flex-basis: 30%;
    }

}